body
{
	margin: 0;
	padding: 0;
	background: #222f3e;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
 Position: sticky;
 top: 0;
 z-index: 10;
}
.navbar
{
	background-image:linear-gradient(to right, rgba(255,255,0,0.5), rgba(0,0,255,0.5))) (#a517ba);
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
}
.navbar-toggler
{
	outline: none !important;
}
